{% load cache %}
<div class="table-responsive mb-5">
  <table class="table table-striped table-bordered table-hover display" id="chekhovManagers">
    <thead>
      <tr>
        <th>Name</th>
        <th>CID</th>
        <th>Program</th>
        <th>Financial Aid</th>
        <th>Rights/Responsibilities</th>
        <th>Payment Plan</th>
        <th>Email</th>
        <th>OneLogin</th>
        <th>Schoology</th>
        <th>Registration</th>
        <th>Graduation</th>
        <th>Room/Board</th>
        <th>Community Code</th>
        <th>Sexual Misconduct</th>
        <th>Academic Honesty</th>
        <th>Emergency Contact</th>
        <th>Insurance</th>
        <th>Parking Permit</th>
        <th>Student ID</th>
      </tr>
    </thead>
    <tbody>
    {% for user in students %}
      <tr>
        {# cache 31536000 user_fullname user.id #}
        <td nowrap style="text-align: left;">
            <a href="mailto:{{user.email}}">{{user.last_name}}, {{user.first_name}}</a>
        </td>
        {# endcache #}
        {# cache 31536000 user_cid user.id #}
        <td nowrap style="font-family: monospace;font-size:1.1em; text-align: center;">
          {{user.id}}
        </td>
        {# endcache #}
        {# cache 31536000 user_group profile.user.id #}
        <td nowrap style="text-align: center;">
          {{user.profile.program}}
        </td>
        {# endcache #}
        <td nowrap>
          {{user.profile.accounts.financial_aid}}
        </td>
        <td nowrap>
          {{user.profile.accounts.rights_responsibilities}}
        </td>
        <td nowrap>
          {{user.profile.accounts.payment_plans}}
        </td>
        <td nowrap>
          {{user.profile.registrar.email}}
        </td>
        <td nowrap>
          {{user.profile.registrar.onelogin}}
        </td>
        <td nowrap>
          {{user.profile.registrar.schoology}}
        </td>
        <td nowrap>
          {{user.profile.registrar.registration}}
        </td>
        <td nowrap>
          {{user.profile.registrar.graduation}}
        </td>
        <td nowrap>
          {{user.profile.housing.room_board}}
        </td>
        <td nowrap>
          {{user.profile.compliance.community_code}}
        </td>
        <td nowrap>
          {{user.profile.compliance.sexual_misconduct}}
        </td>
        <td nowrap>
          {{user.profile.compliance.academic_honesty}}
        </td>
        <td nowrap>
          {{user.profile.emergency.emergency_contact}}
        </td>
        <td nowrap>
          {{user.profile.emergency.insurance}}
        </td>
        <td nowrap>
          {{user.profile.services.parking_permit}}
        </td>
        <td nowrap>
          {{user.profile.services.student_card}}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>CID</th>
        <th>Program</th>
        <th>Financial Aid</th>
        <th>Rights/Responsibilities</th>
        <th>Payment Plan</th>
        <th>Email</th>
        <th>OneLogin</th>
        <th>Schoology</th>
        <th>Registration</th>
        <th>Graduation</th>
        <th>Room/Board</th>
        <th>Community Code</th>
        <th>Sexual Misconduct</th>
        <th>Academic Honesty</th>
        <th>Emergency Contact</th>
        <th>Insurance</th>
        <th>Parking Permit</th>
        <th>Student ID</th>
      </tr>
    </tfoot>
  </table>
</div>
